#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  margin: 0;
}

#container a {
  text-decoration: none;
  color: #000000;
}

ion-card {
  margin-top: 20px;
}

/*==========================================
Estilo visual do app
============================================*/

ion-content {
  --background: #ffffff;
  color: #000000;
  }

form {
  margin-top: 16px;
  margin-bottom: 15px !important; 
}

ion-item {
  --background: transparent !important; 
  background: transparent !important;
  color: #000000 !important;
  border-radius: 8px;
  box-shadow: none;
  --border-width: 0

  &::part(native) {
  background-color: transparent !important;
 --border-color: transparent !important;
 --inner-border-box-shadow: none !important;
 --padding-start: 0; 
 --padding-end: 0;
  }
}

ion-input {
  padding:0 13px;
}


ion-button.botao-amarelo {
  --background: #f5f8c3 !important;
  background: #f5f8c3 !important; 
  --color: #000000 !important;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: none;
  &::part(native) {
  background-color: #f5f8c3 !important;}
}

ion-button.botao-amarelo:hover,
ion-button.botao-amarelo:active {
  --background: #f5f8c3 !important; 
}


ion-card {
  margin-top: 60px;
  border-radius: 14px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  background-color: #ffffff !important; 
  color: #000000;
}

ion-card:hover {
  transform: translateY(-2px);
}

ion-card-content p,
ion-card-title,
ion-card-header {
  color: #000000 !important;
  font-weight: 500;
}

ion-card-content p {
  font-size: 1rem;
  margin: 6px 0;
  line-height: 1.4;
}

ion-card-title {
  color: #ffffff !important;
  margin-bottom: 6px; 
  font-size: 1.1rem; 
  text-decoration: underline; 
  font-weight: bold !important;
  display: inline-block; 
  padding: 3px 5px; 
  background-color: #ad000d; 
  border: 2px solid #ffffff; 
  border-radius: 0;
  text-decoration: none !important;
}

ion-spinner {
  display: block;
  margin: 24px auto;
  margin-top: 40px !important;
}

ion-text [color='danger'] {
color: #ad000d !important;
font-weight: 600;
}

ion-toolbar.titulo-personalizado {
  background: #ad000d !important;
  color: #ffffff !important;
}

ion-toolbar.titulo-personalizado ion-title, 
ion-title.titulo-texto{
  color: #ffffff !important;
  font-weight: bold;
  font-size: 20px;
  text-align: left ;
  }
